body {
    background: url('../images/coffee_background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Libre Baskerville', sans-serif;
}

/*font-family: 'Libre Baskerville', serif;*/
/*font-family: 'Roboto Slab', serif;*/

.about{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.me {
    height: 150px;
    border-radius: 50%;
    border: solid whitesmoke;
    margin-top: 40px;
}


h1 {
    color: #2A001A;
    font-size: 50px;
}

h2 {
    color: #2A001A;
    font-size: 18px;
}

.bio {
    color: #2A001A;

}