body {
    background: url('../images/worthy-of-elegance-6732.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Libre Baskerville', sans-serif;
}

.about{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.me {
    height: 150px;
    border-radius: 50%;
    border: solid #233300;
    margin-top: 30px;
    margin-bottom: 5px;
}

h1 {
    color: whitesmoke;
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    color: whitesmoke;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}

hr {
    height: 3px;
    width: 50px;
    background-color: #233300;
    border: none;
}

.bio {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: 400;
    font-size: 14px;
    width: 600px;
}

/**!Below is the footer\**/

.navbar-fixed-bottom{
    background-color: transparent;
}

.navbar-text p {
    color:#2A001A;
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: 600;
}

.navbar-text > a {
    color: #2A001A;
    text-decoration: none;
    margin:.4rem;
}

.navbar-text > a > i:hover {
    color: #233300;
}

.center {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
.thumbnail-gallery {
    margin-top: 5em;
}
.thumbnail-gallery img {
    margin-bottom: 1em;
}
.thumbnail-gallery a {
    padding-right: 2rem;
    margin-top: 2em;
}
.thumbnail-gallery:hover img {
    opacity: .5;
    transform: scale(.90);
}
.thumbnail-gallery img:hover {
    opacity: 1;
    transform: scale(1) rotate(4deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}
.rotate a:hover {
    transform: rotate(90deg);
}